*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh;
    background: hsl(204 100% 5%);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    background: linear-gradient(
        to right,
        hsl(98 100% 62%),
        hsl(204 100% 59%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: sans-serif;
    font-size: 3em;
}
form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form input{
    text-align: center;
    width: 90%;
    height: 30px;
    margin: 1rem;
    width: 300px;
    font-size: 20px;
}
form button{
    font-size: 1em;
    padding: 15px 15px;
    border-radius: 10px;
    border: 2px solid rgb(128, 128, 128);
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.5);
    color: white;
    background-color: rgb(17, 159, 159);
}
button:hover{
    
    background-color: rgb(10, 96, 96);
}
body p{
    margin-top: 50px;
    background: linear-gradient(
        to right,
        hsl(98 100% 62%),
        hsl(204 100% 59%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 30px;
}

